---
import CartButton from "@/components/cart-button"
---

<header>
    <nav class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between px-6 py-4 bg-white border-b border-gray-100 ">
        <a href="/" aria-label="Ir al inicio" class="text-xl font-light tracking-widest">SNEAKERSCHILE</a>
        <div class="flex items-center space-x-8">
            <div class="relative cursor-default" aria-label="Carrito de compras" role="button" aria-haspopup="true" aria-expanded="false">
                <CartButton client:load/>
            </div>
        </div>
    </nav>
</header>