@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeistSans';
    src: url(/fonts/Geist-Light.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeistSans';
    src: url(/fonts/Geist-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

* {
  font-family: 'GeistSans', sans-serif;
}

body {
    background: #ffffff;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: black;
    font-family: inherit;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0);
    border-radius: 99999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f;
}

::-webkit-scrollbar-thumb:active {
    background: #5f5f5f;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}