---
const { title } = Astro.props;

import '@/styles/global.css'
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title ? `${title} - SneakersChile`: "SneakersChile"}</title>

		<meta name="title" content="Zapatillas y Buzos en Chile | SneakersChile">
		<meta name="description" content="Compra online las mejores zapatillas y buzos en Chile. Calidad premium, precios bajos y despacho a todo el país. ¡Explora nuestra colección hoy!">
		<meta name="keywords" content="nike, zapatillas, buzos, barato, chile, tienda, tienda zapatos, tienda zapatillas, tienda buzos">
		<meta name="robots" content="index, follow">
		<meta name="language" content="es">
		<meta name="author" content="SneakersChile">

		<meta property="og:type" content="website">
		<meta property="og:title" content="Zapatillas y Buzos en Chile | SneakersChile">
		<meta property="og:description" content="Compra online las mejores zapatillas y buzos en Chile. Calidad premium, precios bajos y despacho a todo el país.">
		<meta property="og:image" content="/og-image.jpg">
		<meta property="og:url" content="https://sneakerschile.cl">
		<meta property="og:site_name" content="SneakersChile">
	</head>
	<body>
		<main>
			<slot/>
		</main>
	</body>
</html>